---
import MainLayout from "../layouts/MainLayout.astro";
const name = 'Leonardo Manuel Tolaba';
---
<MainLayout title="Foundation">
	<h1>{name}</h1>
	<p>Momento actual: {new Date().toLocaleTimeString()}</p>
	<p id="current-time">Momento actual real: </p>
	<script>
		const moment: string = new Date().toLocaleTimeString();
		const p = document.querySelector('#current-time') as HTMLParagraphElement;
		p.innerText = `Momento actual: ${moment}`;
	</script>
</MainLayout>
